.vs/
Admin/bin/
Admin/obj/
Admin/aspnet_client/
Business/bin/
Business/obj/
Caching/bin/
Caching/obj/
Contract/bin/
Contract/obj/
DataAccess/bin/
DataAccess/obj/
VG.Common/bin/
VG.Common/obj/
VG.EncryptLib/bin/
VG.EncryptLib/obj/
VG.Framework.Mvc/bin/
VG.Framework.Mvc/obj/
VG.Framework.Mvc/bin/
VG.Framework.Mvc/obj/
VG.General.ExceptionHandling/bin/
VG.General.ExceptionHandling/obj/
VG.ValidationAttribute/bin/
VG.ValidationAttribute/obj/
packages/
/Admin/Log
/OR.AutoUpdateManager/obj/Debug
/OR.AutoUpdateManager/obj/Release
/VM.PushEmailNotification.Worker/obj/Debug
/OR.AutoUpdateManager/bin/Debug
/VM.PushEmailNotification.Worker/bin/Debug
/VM.PushEmailNotification.Worker/obj/Release
/OR.AutoUpdateManager/bin/Release
/VM.PushEmailNotification.Worker/bin/Release
