<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.12.152;initial catalog=QueuePatient;user id=vaccine;password=vaccine@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.12.152;initial catalog=QueuePatient;user id=vaccine;password=vaccine@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConnString.PatientQueue " connectionString="data source=10.100.12.152;initial catalog=QueuePatient;user id=vaccine;password=vaccine@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Entities"
      connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=05-HD-PHUBQ;initial catalog=QueuePatientUAT;persist security info=True;user id=devadmin;password=Vcm@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ConnString.WebPortal"
      connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=05-HD-PHUBQ;initial catalog=QueuePatientUAT;user id=devadmin;password=Vcm@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ConnString.PatientQueue"
      connectionString="data source=05-HD-PHUBQ;initial catalog=QueuePatientUAT;user id=devadmin;password=Vcm@12345;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Config base service-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="PathLog" value="D:\Projects\ORManagement\Code\VM.PushEmailNotification.Worker\bin\Debug\Logs\"/>
    <add key="TimeInterval" value="10000"/>
    <add key="quantityData" value="20"/>
    <add key="SlThread" value="1"/>
    <add key="IsConfigSendMail" value="true"/>
    <add key="SmtpHost" value="ex.vingroup.net"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpTimeOut" value="100000"/>
    <add key="SmtpNoReply" value="it.operapp"/>
    <add key="SmtpNoReplyPassword" value="Vinmec@2018"/>
    <add key="default_email" value="it-operation-app@vinmec.com"/>
    <add key="AlliasCompanyName" value="OR Operation"/>
    <add key="ListEmailReceiver" value="[HHL|pmhhl@vinmec.com,v.phubq@vinmec.com]-[HCP|pmhcp@vinmec.com,v.phubq@vinmec.com]-[HDN|pmhdn@vinmec.com,v.phubq@vinmec.com]-[HHP|pmhhp@vinmec.com,v.phubq@vinmec.com]-[HNT|pmhnt@vinmec.com,v.phubq@vinmec.com]-[HPQ|pmhpq@vinmec.com,v.phubq@vinmec.com]"/>
    <!--dong bo data OH/Ehos version-->
    <add key="UrlSyncHis" value="https://apigw.vinmec.com:8243/"/>
    <add key="UrlSyncPatient" value="https://apigw.vinmec.com:8243"/>
    <add key="EHosVersion" value="eHos_Production"/>
    <add key="OHVersion" value="OH_Production"/>
    <add key="Authen_BearAPI" value="0cdcc95c-b06f-3103-9fb7-c3332cff233f"/>
    <!--Logging service-->
    <add key="VG.LoggingDir" value="E:\Publish\LogsBugs\Vinmec\"/>
    <add key="VG.IsLogLocal" value="1"/>
    <add key="Paging.PageSize" value="12"/>
    <add key="Paging.ShowPage" value="10"/>
    <add key="UploadPhotoURI" value="http://10.220.44.44"/>
    <add key="UploadFolderPath" value="D:\\Projects\\VinService\\WebPortal\\VG.WebPortal\\BMS.Report\\Images"/>
    <add key="DomainPhotoURI" value="http://localhost:8123/Images/"/>
    <add key="DomainMailURI" value="http://localhost:8190/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>