<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.92;initial catalog=QueuePatient;user id=devadmin;password=Vcm@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.96;initial catalog=QueuePatient;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OperationRoom;user id=sa;password=0975067057;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnString.PatientQueue" connectionString="data source=localhost;initial catalog=OperationRoom;user id=sa;password=0975067057;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Entities" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=OperationRoom;persist security info=True;user id=sa;password=0975067057;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.96;initial catalog=QueuePatientUAT;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Entities" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.96;initial catalog=QueuePatientUAT;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnString.PatientQueue" connectionString="data source=10.115.50.96;initial catalog=QueuePatientUAT;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnString.WebPortal" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.96;initial catalog=QueuePatient;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Entities" connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.115.50.96;initial catalog=QueuePatient;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ConnString.PatientQueue" connectionString="data source=10.115.50.96;initial catalog=QueuePatient;user id=orqueue;password=!orqueue@#012;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--<system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" proxyaddress="http://10.115.50.11:9090" bypassonlocal="True" />
    </defaultProxy>
  </system.net>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--Logging service-->
    <add key="VG.LoggingDir" value="E:\Publish\LogsBugs\Vinmec\"/>
    <add key="VG.IsLogLocal" value="1"/>
    <add key="Paging.PageSize" value="5"/>
    <add key="Paging.ShowPage" value="10"/>
    <add key="UploadPhotoURI" value="http://10.220.44.44"/>
    <add key="UploadFolderPath" value="D:\\Projects\\VinService\\WebPortal\\VG.WebPortal\\BMS.Report\\Images"/>
    <add key="DomainPhotoURI" value="http://10.220.44.44/Images/"/>
    <add key="DomainMailURI" value="http://localhost:8190/"/>
    <add key="IsConfigSendMail" value="true"/>
    <add key="SmtpHost" value="ex.vingroup.net"/>
    <add key="SmtpPort" value="25"/>
    <add key="SmtpTimeOut" value="100000"/>
    <add key="SmtpNoReply" value="it.operapp"/>
    <add key="SmtpNoReplyPassword" value="Vinmec@2018"/>
    <add key="default_email" value="it-operation-app@vinmec.com"/>
    <add key="AlliasCompanyName" value="OperationRoom"/>
    <!--dong bo data OH/Ehos version-->
    <add key="UrlSyncHis" value="https://apigw-test.vinmec.com:8243/"/>
    <add key="UrlSyncPatient" value="https://apigw-test.vinmec.com:8243"/>
    <!--<add key="UrlSyncHis" value="https://apigw.vinmec.com:8243/" />
    <add key="UrlSyncPatient" value="https://apigw.vinmec.com:8243" />-->
    <add key="EHosVersion" value="eHos_Production"/>
    <add key="OHVersion" value="OH_Production"/>
    <add key="ORVersion" value="or"/>
    <add key="Authen_BearAPI" value="44753cc9-eaba-37d2-bf5d-bf14eecbec05"/>
    <!--<add key="Authen_BearAPI" value="0cdcc95c-b06f-3103-9fb7-c3332cff233f" />-->
    <add key="OR_API_SERVER_TOKEN" value="f1d6ba1a-6288-38e8-b40e-2e6f7caccc0a"/>
    <add key="DIMS_API_SERVER_TOKEN" value="64292342-f6bb-3d9f-a3ce-cd789c92f81c"/>
    <add key="RoleViewSurgerySchedule" value="4"/>
    <add key="RoleNameViewSurgerySchedule" value="xem lịch mổ"/>
    <!--<add key="ProxyAddress" value="10.115.50.11:9090" />-->
    <!--ReCaptcha Config-->
    <add key="NumberShowCaptCha" value="2"/>
    <add key="ReCaptCha-Site-Key" value="6Le-TpgUAAAAAFuVBMGirRLgBR9WmzuyYeB5Fu3b"/>
    <add key="ReCaptCha-Secret-Key" value="6Le-TpgUAAAAAMCss4Qg_VpvNjDXZ5kjuOSLXEJ4"/>
    <!--End ReCaptcha Config-->
    <add key="Refurl.Whitelist" value="localhost"/>
    <!--vutv7 add key tháng chỉ định quá hạn-->
    <add key="API_ManageApp_URL" value="http://localhost:8585/"/>
    <add key="AppId" value="171985007"/>
    <!--bắt buộc có appid-->
    <add key="ExprireMonth" value="2"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:Tenant" value="1efa3961-fa37-4153-9253-38b8c63be196"/>
    <add key="ida:AppKey" value="p4d8Q~W2OTMycunla-kS50LORMy0W~vPa5QhsaOP"/>
    <add key="ida:ClientId" value="0729d00e-90b5-455f-9e6e-845b049bdc46"/>
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44304/"/>
    <add key="ida:RedirectUri" value="https://localhost:44304/signin-oidc"/>
    <add key="ida:ADFSDiscoveryDoc" value="https://login.microsoftonline.com/1efa3961-fa37-4153-9253-38b8c63be196/.well-known/openid-configuration"/>
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="Caching.Core"/>
    <namespace name="Caching.Microsite"/>
    <container>
      <register type="IAuthenCaching" mapTo="AuthenCaching"/>
      <register type="IUserProfileCaching" mapTo="UserProfileCaching"/>
      <register type="ISystemSettingCaching" mapTo="SystemSettingCaching"/>
      <register type="ILogCaching" mapTo="LogCaching"/>
      <register type="IUserMngtCaching" mapTo="UserMngtCaching"/>
      <register type="ILanguageCaching" mapTo="LanguageCaching"/>
      <register type="IMicrositeMngtCaching" mapTo="MicrositeMngtCaching"/>
      <register type="ISystemMngtCaching" mapTo="SystemMngtCaching"/>
      <register type="IOperationCheckListCaching" mapTo="OperationCheckListCaching"/>
      <register type="ILogObjectCaching" mapTo="LogObjectCaching"/>
      <register type="IQueuePatientCaching" mapTo="QueuePatientCaching"/>
    </container>
  </unity>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="AES" decryptionKey="5CEE759AFAB8736FD0174FDA99BEC542880385AF454CA02A" validation="SHA1" validationKey="711BAF9E84136C8EA120B9DBB9B8072D2DC1469FC5E1DB80FF84271F6C8E7BF21946311F4BD494FD55AC27BA2528E5737DF64F5DA6C889CE9105493E5F1F27EF"/>
    <customErrors mode="Off" defaultRedirect="~/error?id=500">
      <error statusCode="404" redirect="~/error?id=404"/>
    </customErrors>
    <httpRuntime targetFramework="4.5" maxRequestLength="52428800"/>
    <compilation targetFramework="4.5.2" debug="true"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Authen/Login" timeout="2880" />
    </authentication>-->
    <pages>
      <namespaces>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" cookieName="adr_cms2_client_sid">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151"/>
      </requestFiltering>
    </security>
    <!--<httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>-->
    <modules>
      <remove name="FormsAuthentication"/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/request-could-not-processed?code=500" responseMode="Redirect"/>
      <!--Added 02/02/2015-->
      <error statusCode="404" prefixLanguageFilePath="" path="/request-could-not-processed?code=404" responseMode="Redirect"/>
      <!--Added 02/02/2015-->
    </httpErrors>
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />-->
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!--Remove header information-->
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-Powered-By-Plesk"/>
        <remove name="Server"/>
        <!--Clickjacking hacker breaking-->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!--X-XSS-Protection-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: E66A65C1-2899-4771-9CFF-B84BEA096C62-->