<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="ConnString.WebPortal"
      connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S05-WEBDB-VT1;initial catalog=OperationRoom;user id=phubq;password=Pempem@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="ConnString.PatientQueue"
      connectionString="data source=S05-WEBDB-VT1;initial catalog=OperationRoom;user id=phubq;password=Pempem@123;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
    <add name="Entities"
      connectionString="metadata=res://*/Models.VG_WebPortal.csdl|res://*/Models.VG_WebPortal.ssdl|res://*/Models.VG_WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S05-WEBDB-VT1;initial catalog=OperationRoom;persist security info=True;user id=phubq;password=Pempem@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
      <add key="AppName" value="OR | Auto Update Data Manager"/>
      <!--API config information-->
      <add key="ApiTimeout.minutes" value="5"/>
      <!--dong bo data OH/Ehos version-->
      <add key="UrlSyncHis" value="https://apigw-test.vinmec.com:8243/"/>
      <add key="UrlSyncPatient" value="https://apigw-test.vinmec.com:8243"/>
      <!--<add key="UrlSyncHis" value="https://apigw.vinmec.com:8243/" />
      <add key="UrlSyncPatient" value="https://apigw.vinmec.com:8243" />-->
      <add key="EHosVersion" value="eHos_Production"/>
      <add key="OHVersion" value="OH_Production"/>
      <add key="ORVersion" value="or" />
      <add key="Authen_BearAPI" value="44753cc9-eaba-37d2-bf5d-bf14eecbec05"/>
      <!--<add key="Authen_BearAPI" value="0cdcc95c-b06f-3103-9fb7-c3332cff233f" />-->
      <add key="OR_API_SERVER_TOKEN" value="f1d6ba1a-6288-38e8-b40e-2e6f7caccc0a"/>
      <add key="PMS_API_SERVER_TOKEN" value="546d60f0-ad41-3035-9be3-a7785fc5f76b"/>
      <!--Time schedule config-->
      <!--Sync Hospital-->
      <add key="SyncOHHospital_CS" value="0 09 18 ? * *"/>
      <!--Sync Department-->
      <add key="SyncOHDepartment_CS" value="0 26 18 ? * *"/>
      <!--Sync Service-->
      <add key="SyncOHService_CS" value="0 51 14 ? * *"/>
      <!--Auto Update Status-->
      <!--<add key="AutoUpdateStatus_CS" value="0 0/45 0/1 ? * * *"/>-->
    <add key="AutoUpdateStatus_CS" value="0 20 17 ? * *"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>