
<div class="modal fade modal_booking" id="change_state_item" aria-hidden="true" data-backdrop="static" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title title-popup">Gởi duyệt hoàn thành checklist</h2>
                <br />
            </div>
            <div class="modal-body">
                <div class="body_booking">
                    <div class="dis_tbl">
                        <p class="dis_tbl_r" style="margin-top: 10px;">
                            <strong class="dis_tbl_c text-left">Tên checklist</strong>&nbsp;
                            <span class="dis_tbl_c"><span class="user_fullname"></span></span>
                        </p>
                        <p class="dis_tbl_r" style="margin-top: 10px;">
                            <strong class="dis_tbl_c text-left">Chú thích</strong>&nbsp;
                            <a href="#" class="dis_tbl_c user_email"></a>
                        </p>
                    </div>
                    <p class="desc null">Bạn vừa chọn hoàn thành checklist,và gởi manager duyệt !, Bạn vẫn muốn tiếp tục ?</p>
                    <div class="btn-wrapper text-right">
                        <button class="btn btn-primary btn-submit" type="submit" tabindex="7"><i class="fa fa fa-save"></i>&nbsp;@LayoutResource.Shared_BtnText_Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
