@model String

<div class="panel-body text-left">
    <ul class="noty_inline_layout_container i-am-new error_new" style="margin: 0; padding: 0;">
        <li class="ad_theme noty_container_type_warning" style="">
            <div class="noty_bar noty_type_success">
                <div class="noty_message"><i class="fa fa-bullhorn"></i><span class="noty_text">@Model</span></div>
            </div>
        </li>
    </ul>
</div>

@*<div class="panel-body text-left">
    <ul class="i-am-new" style="margin: 0px; padding: 0px;">
        <li class="ad_theme noty_container_type_error" style="">
            <div class="noty_bar noty_type_error">
                <div class="noty_message"><span class="noty_text">@Model</span></div>
            </div>
        </li>
    </ul>
</div>*@